.header {
    margin-top: 30px;
    margin-bottom: 10px;
}
.header__inner {
    display: flex;
    justify-content: center;
}
.header__logo {
    font-size: 30px;
    text-decoration: none;
    color: #B8860B;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}
.border {
    padding: 0;
    border: none;
    color: #FFEBCD;
}